$b:black;
$w: white;
$y:yellow;
$r:red;
$pdn0: 0;
$mrg0: 0;

*::selection {
    background-color: rgba(255, 0, 0, 0.849);
    color: #fff;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png);
    left: 0%;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;

}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 50px;
    box-shadow: inset 0px 0px 5px black;

    &:hover {
        background-color: #616161;

    }

}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 5px;

}



#Mnavbar {
    z-index: 9999;
    background-color: rgba(245, 245, 245, 0.967);
    -moz-background-color: rgba(51, 45, 45, 0.967);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    margin-top: 1%;
    margin-left: 2.2%;
    position: fixed;
    box-shadow: 0px -2px 10px grey;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

@media only screen and (min-width: 2500px) {
    #Mnavbar {
        z-index: 9999;
        background-color: rgba(245, 245, 245, 0.967);
        -moz-background-color: rgba(51, 45, 45, 0.967);
        border-radius: 2.5vh;
        backdrop-filter: blur(5px);
        margin-top: 1%;
        margin-left: 2.2%;
        position: fixed;
        box-shadow: 0px -2px 10px grey;
        -webkit-border-radius: 2.5vh;
        -moz-border-radius: 2.5vh;
        -ms-border-radius: 2.5vh;
        -o-border-radius: 2.5vh;
        font-size: 1vw;
    }

    .navbar-brand {
        font-size: 1.5vw;

    }
}

@media only screen and (max-width: 705px) {
    #Mnavbar {
        width: 100%;
        position: relative;
        background-color: rgb(238, 238, 238);
        border-radius: 0;
        margin: 0;

    }
    

}

.nv-btn {
    padding: 5px;
    background-color: rgba(167, 167, 167, 0.719);
    border-radius: 15px;
    transition: all ease-in-out 0.3s;

}

.nv-btn:hover {
    background-color: rgba(211, 211, 211, 0.849);
}

.Alink {
    color: rgb(128, 127, 127);
    margin: 0px 5px;
    transition: 0.3s;
}

.Alink:hover {
    color: rgb(0, 0, 0);
    transform: translateY(-3px);
}

#dot {
    display: inline-flex;

}

.headerText {
    color: $b;
    text-transform: capitalize;
    padding-top: 10%;
    padding-left: 2%;
    overflow: hidden;

    h1 {
        position: relative;
        font-size: 5vw;
        color: rgb(255, 255, 255);
        text-shadow: rgba(0, 0, 0, 0.637) 0px 3px 3px;
        filter: brightness(100%);

    }

    h3 {
        position: relative;
        color: rgba(255, 254, 254, 0.822);
        text-shadow: rgba(0, 0, 0, 0.637) 0px 3px 3px;
        max-width: 90%;
        font-size: 1.3vw;

    }

    @media only screen and (max-width: 600px) {
        h1 {

            font-size: 7vw;
            transition: ease-in-out 0.3s;
        }

        h3 {
            font-size: 3vw
        }
    }

}

.noteLogn{
    
    img{
        width: 50%;
        height: fit-content;
        top: -37%;
        left: 0%;
        
    }
}

.s1 {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #000;
}

.sliIMg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: picFade 1.6s alternate linear;

    @keyframes picFade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}

$carousel-transition-duration: .6s;

.carousel-item {
    transition: $carousel-transition-duration;
    background-color: #000;



}

.iframeMap {
    position: fixed;
    width: 80%;
    height: 80%;
    z-index: 9999;
    left: 10%;
    border-radius: 30px;
    box-shadow: 0px 5px 40px black;
    display: none;
    bottom: 0%;
}

.iframeMap iframe {
    border-radius: 30px;
}

.closeMap {
    left: 90%;
    top: -5%;
    z-index: 99999;
    color: green;
    text-shadow: 0px 0px 5px black;
    position: absolute;
    background-color: grey;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    text-align: center;
    transition: all .3s ease-in-out;

}

.closeMap:hover {
    transform: scale(1.3);
    color: red;
    cursor: pointer;
    box-shadow: 0px 0px 30px grey;
}



.about_box {

    h3,
    span,
    p {
        text-align: left;

    }
}

.brand {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.brand_box {
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.459);
    display: table-cell;
    max-width: 200px;
    transition: 1s;


}

.brand_box img {
    object-fit: contain;
    max-height: 200px;
    width: 100%;


}

h3,
h2,
h3,
h4,
h5,
h6 .h1 {
    word-wrap: break-word;

}

.swiper {
    width: 100%;
    padding-top: 50px;
    background-color: transpert;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: transpert;
    width: 30%;
    height: 60vh;

    h5 {
        text-align: center;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 57vh;
    object-fit: contain;
    background-color: transpert;
    position: relative;
}


@media only screen and (max-width: 1920px) {
    .swiper {
        width: 100%;
        padding-top: 50px;
        background-color: transpert;
        padding-bottom: 5%;
        object-fit: cover;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: transpert;
        width: 30%;
        height: 60vh;


    }

}

@media only screen and (max-width: 980px) {
    .swiper {
        width: 100%;
        padding-top: 50px;
        background-color: transpert;
        padding-bottom: 5%;
        object-fit: cover;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: transpert;
        width: 40%;
        height: 60vh;


    }

}


@media only screen and (max-width: 580px) {
    .swiper {
        width: 100%;
        padding-top: 50px;
        background-color: transpert;
        padding-bottom: 5%;
        object-fit: cover;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: transpert;
        width: 60%;
        height: 60vh;

    }

}


@media only screen and (max-width: 380px) {
    .swiper {
        width: 100%;
        padding-top: 50px;
        background-color: transpert;
        padding-bottom: 5%;
        object-fit: cover;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: transpert;
        width: 80%;
        height: 60vh;


    }

}


@media only screen and (max-width: 280px) {
    .swiper {
        width: 100%;
        padding-top: 50px;
        background-color: transpert;
        padding-bottom: 5%;
        object-fit: cover;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: transpert;
        width: 100%;
        height: 60vh;


    }

}






.read-more {
    font-family: poppins;
    max-width: 212px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    background: #000;
    color: #fff !important;
    padding: 12px 0px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    border-radius: 32px;
    margin-top: 40px
}

.read-more:hover {
    background: #ff0000;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.459);
}

.contact .main_form {
    background: #fff;
    box-shadow: #ddd 0px 0px 19px 1px;
    padding: 40px;
    border-radius: 15px;
}

.form-control {
    border: #9696969a solid 2px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 13px 20px;
    font-family: poppins;
}

.form-control:focus {
    box-shadow: inherit;
    border: #666666 solid 2px !important;
}

.textarea {
    font-family: poppins;
    border: #9696969a solid 2px;
    margin-bottom: 30px;
    padding: 13px 20px;
    width: 100%;
    padding-top: 40px;
    border-radius: 10px;

}

.send {
    font-family: poppins;
    max-width: 212px;
    margin: 0 auto;
    display: block;
    background: #000;
    color: #fff;
    padding: 12px 0px;
    width: 100%;
    font-size: 17px;
    border-radius: 20px;

}

.send:hover {
    background: #a70000;
    border-radius: 10px;
    box-shadow: 0px 5px 15px gray;
    transform: scale(1.05);
    border-radius: 25px;
}

.send-btn-animation {
    display: none;
}

em {
    font-style: normal;
}

//  product section
.productContent{
    padding-top: 10%;
    

   }
   .a{
    border-left: rgba(128, 128, 128, 0.623) 2px solid;

   }
   .productImg{
       padding: 1%;
       img{
           max-height: 90vh;
           width: 100vw;
           object-fit: contain;
       }
}
.p-content{
   
    padding: 1%;
    
 
  
}
.p-texts{
    h2{
        line-height: 10vw;
        word-wrap: break-word;
        word-spacing: 1px;
        font-size: 4vw;
    }
    
}
.p-Des{
    max-height: 600px;
    overflow: auto;
}
@media only screen and (max-width: 758px) {
    .a{
        border: none;
    }
}   

// product section end 
 
//  login

.Mcontanier{
    background-color: whitesmoke;
    position: relative;
    padding-top: 6%;
  
   

}
.note{
     width: fit-content;
     padding: 3%;
     margin-left: -15px;
     position: relative;
     background-color: white;
     background-color: white;
     transform: rotateZ(-10deg) ;
     -webkit-transform: rotateZ(-10deg) ;
     -moz-transform: rotateZ(-10deg) ;
     -ms-transform: rotateZ(-10deg) ;
     -o-transform: rotateZ(-10deg) ;
     box-shadow: 5px -3px 15px gray;
     transition: all ease-in-out 0.5s;
     -webkit-transition: all ease-in-out 0.5s;
     -moz-transition: all ease-in-out 0.5s;
     -ms-transition: all ease-in-out 0.5s;
     -o-transition: all ease-in-out 0.5s;
     cursor: pointer;
     &:hover     
{
             box-shadow: none;
             transform: scale(0.8) rotateZ(0deg);
             -webkit-transform: scale(0.8) rotateZ(0deg);
             -moz-transform: scale(0.8) rotateZ(0deg);
             -ms-transform: scale(0.8) rotateZ(0deg);
             -o-transform: scale(0.8) rotateZ(0deg);
}
    
}
.textNote{
position: absolute;
left: 25%;
top: 50%;
word-wrap: break-word;
h2{
    font-size: 2.5vw;
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
}

}
.Mlogin{
    padding: 5%;
    max-width: 90%;
    display: block;
    margin: auto;

   h1{
       text-align: center;
   }
   input{
       border-radius: 25px;
       -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
       -ms-border-radius: 25px;
       -o-border-radius: 25px;
       outline: none;
       transition: all ease-in-out 0.3s;
       -webkit-transition: all ease-in-out 0.3s;
       -moz-transition: all ease-in-out 0.3s;
       -ms-transition: all ease-in-out 0.3s;
       -o-transition: all ease-in-out 0.3s;
       &:focus-within{
           background-color: powderblue;
           box-shadow: 0px -1px 10px grey;
       }
}
button{
    background-color: rgb(87, 87, 87);
    color: $w;
    
}
}
   
 #error{
    color: red;
    text-align: center;
    margin: 15px;

}

    //    end log md

//    about me css here 
.SectionAboutME{
    background-color: $w;
    padding-top: 15%;
    padding-bottom: 15%;
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');}
.aboutHeaderText{
    word-wrap: break-word;
    h6,h1,h3
{
   font-family: 'Prompt', sans-serif;
   text-transform: uppercase;
   font-size: clamp(1rem , 2.3vw , 3rem);
   transform: scaleY(0);
   -webkit-transform: scaleY(0);
   -moz-transform: scaleY(0);
   -ms-transform: scaleY(0);
   -o-transform: scaleY(0);
}
span{
margin-top: 10%;
margin-left: -6%;    
justify-content: space-evenly;
display: flex;
max-width: 50%;
}
   i{
       
       font-size: clamp(1rem , 3vw , 5rem);
       transition: all ease-in-out 0.5s;
       -webkit-transition: all ease-in-out 0.5s;
       -moz-transition: all ease-in-out 0.5s;
       -ms-transition: all ease-in-out 0.5s;
       -o-transition: all ease-in-out 0.5s;

       &:hover{
           color: powderblue;
           transform: scale(1.3);
           -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
           -ms-transform: scale(1.3);
           -o-transform: scale(1.3);
           text-shadow: 0px 3px 4px gray;
           cursor: pointer;
}
   }
    }
.AboutImg{
    background-image: url(images/aboutmepic.jpeg);
    width: 180%;
    height: 180%;
    clip-path: circle(40%);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-top: -30%;
    position: absolute;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
    -webkit-transition: all ease-in-out 0.6s;
    -moz-transition: all ease-in-out 0.6s;
    -ms-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    &:hover
{
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
}
    h3{
        background-color: rgba(255, 255, 255, 0.233);
        width: 100px;
        height: 80px;
        position: absolute;
        z-index: 100;
        bottom: 45%;
        left: 35%;
        backdrop-filter: grayscale(100%);
        box-shadow: 0px 3px 8px ;
        
        
    }
}
.midText{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 30%;
    margin-top: 5%;
    margin-left: 2%;
    font-weight: bolder;
    font-family: 'Prompt', sans-serif;
   
  
}
.aboutHeaderText{
    h3 , h1 ,h6{
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
}
.fa{
    animation: fadeSocial 3s;
    -webkit-animation: fadeSocial 3s;
}
}

@keyframes fadeSocial {
        
    from{
        
        transform: scaleY(0);
        opacity: 0;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
}
    to{
        transform: scaleY(1);
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
}
}