
@font-face {
    font-family: rudawregular2;
    src: url(assets/fonts/rudawregular2.ttf);
}

body{
margin: 0;
padding: 0;
text-align: right;
}
h1::selection,i::selection,h3::selection,p::selection,h2::selection,h4::selection,img::selection,a::selection,li::selection{
  background-color: rgba(172, 4, 233, 0.185) 

}
html{
    direction: rtl;
}
.navbar{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img-fluid {
    filter: brightness(50%);
    transition: 1s;
}
.img-fluid:hover{
  filter: brightness(100%);
}
.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .srchbtn{
      font-size: x-large;
  }
  .nav-link{
     color: whitesmoke;
     background-color: rgba(0, 0, 0, 0.219);
     border-radius: 10px;
     transition: 0.2s;
     font-family: 'rudawregular2';
     margin: 5px;
     cursor: pointer;
     width: fit-content;
  }
  
 
.nav-link:hover{
    background-color: rgb(167, 167, 167);
}
@media  screen and (max-width: 991px) {
    .nav-link{
        color: black;
        transition: 0.2s;
        font-family: 'rudawregular2';
        margin: 5px;
        cursor: pointer;
        width: 100%;
        text-align: center;
     }
  }
  .dropdown-menu{
      background-color: rgb(211, 211, 211);
  
      border-radius: 10px;
      border: rgba(0, 0, 0, 0.747) solid 2px;
      box-shadow: black 0px 2px 10px;
  }
  .dropdown-item{
      color: black;
  }
  .dropdown-item:hover{
      background-color: rgba(0, 0, 0, 0.384);
      color: white;
      
  }


/****************************************************************** card sale*/

.card {
    background: white;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.473);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;

    
}
.card-body{
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  margin-bottom: -10%;
  box-shadow: 0px -10px 10px rgba(128, 128, 128, 0.555);
}

.card:hover {
    transform: scale(1.05);
    box-shadow:  0px 10px 30px rgba(0, 0, 0, 0.673);
}






.label-top {
    position: absolute;
    background-color: #8bc34a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white
}

.top-right span {
    display: inline-block;
    vertical-align: middle
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 250px
    }
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px
}





.btn-warning {
  background: none #f7810a;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  border-radius: 100px
}

.btn-warning:hover {
  background: none #ff962b;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
}

.bg-success {
  font-size: 1rem;
  background-color: #f7810a !important
}

.bg-danger {
  font-size: 1rem
}

.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray
}

.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray
}

.fa-question-circle:before {
  color: darkgray
}

.fa-plus:before {
  color: darkgray
}

.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.box-img {
  max-width: 300px
}

.thumb-sec {
  max-width: 300px
}

@media (max-width: 576px) {
  .box-img {
      max-width: 200px
  }

  .thumb-sec {
      max-width: 200px
  }
}

.inner-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1px;
  display: inline-block;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover
}

@media (max-width: 370px) {
  .box .btn {
      padding: 5px 40px 5px 40px;
      font-size: 1rem
  }
}

.disclaimer {
  font-size: .9rem;
  color: darkgray
}

.related h3 {
  font-weight: 900
}


/***************************************/



/*footer***************************************************/


 #exampleModal{
  backdrop-filter: blur(10px);
}

.close{
    position: absolute; 
    left: 0px;
}
button:focus{
  outline: none;
}
input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  margin-top: 5px;
  border-radius: 15px;
}
input:focus{
  border: none;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 15px;
  box-shadow: gray 0px 0px 10px ;
}

#error_connection{
  text-align: center;
  font-size: xx-large;
  background-color: rgba(255, 0, 0, 0.699);
  padding: 50px;
  color: white;
  
}
.map{
  border-radius: 25px;
  box-shadow: gray 0px 0px 15px;
  transition: 0.3S;

}
.map:hover{
  transform: scale(1.05);
}
.form-control:focus-within{
    background-color: powderblue;
}